*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    width: 100vw;
    height: 100vh;
    background-color: #007C77;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator 
{
    width: 350px;
    height: 80%;
    background-color: #F0F600;
    border-radius: 50px;
}
#display 
{
    width: 100%;
    padding: 30px;
    border: none;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: #4C1A57;
}
#display:focus
{
    outline: none;
}
#keys 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}
button
{
    width: 70px;
    height:70px;
    border: none;
    border-radius: 100%;
    font-size: 1.5rem;
    background-color: #FF3CC7;
    cursor: pointer;
    font-weight: 800;
    color: white;
}
#alignselfl 
{
   transform: translateX(-130px);
}
.operator-btn 
{
    background-color: #00E5E8;
    color: white;
}
